{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.{css,scss}",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.{json,yml,yaml,md}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "package*.json",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
